
body {
	background: #222;
	background-image: url('https://w0.peakpx.com/wallpaper/404/386/HD-wallpaper-sunset-on-mountains-minimal-art-sunset-mountains-minimalism-minimalist-artist-artwork-digital-art-deviantart.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h2 {
	color: rgb(0, 0, 0);
	font-family: monospace;
	text-align: center;
	font-weight: bold;
}
.background {
	table-layout: fixed;
	border-spacing: 0;
}
.background td {
	padding: 0;
}
.lava, .actor {
	background: rgb(255, 34, 0);
}
.wall {
	background: rgb(104, 43, 0);
	border: solid 3px rgb(14, 14, 14);
	box-sizing: content-box;
}
.actor {
	position: absolute;
}
.coin {
	background: #e2e838;
	border-radius: 50%;
}
.player {
	background: #ffffff;
	box-shadow: none;
}
.lost .player {
	background: rgb(16, 6, 6);
}
.won .player {
	background: green;
}
.game {
	position: relative;
	overflow: hidden;
}