body {
    margin:0;
	color:#6a6f8c;
	background: rgba(40,57,101,.9);
	font:600 16px/18px 'Open Sans',sans-serif;
  text-align: center;
}
.page{
    
    background:url("images/gaming.jfif") ;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-color:#E6E6FA;
    color: #727371;
    border-radius: 50%;
}

.x4 {
    background-color:#DDA0DD;
    color: #727371;
    border-radius: 50%;
}

.x8 {
    background-color:#DA70D6;
    color: white;
    border-radius: 50%;
}

.x16{
    background-color:#FF00FF;
    color: white;
    border-radius: 50%;
}

.x32{
    background-color:#BA55D3;
    color: white;
    border-radius: 50%;
}

.x64{
    background-color:#9370DB;
    color: white;
    border-radius: 50%;
}

.x128{
    background-color: #8A2BE2;
    color: white;
    border-radius: 50%;
}

.x256{
    background-color: #0000FF;
    color: white;
    border-radius: 50%;
}

.x512{
    background-color:#1E90FF;
    color: white;
    border-radius: 50%;
}

.x1024{
    background-color:#00BFFF;
    color: white;
    border-radius: 50%;
}

.x2048{
    background-color:#87CEFA;
    color: white;
    border-radius: 50%;
}

