.parent {

  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width:100%;
	margin:auto;
	max-width:2000px;
	min-height:750px;
	position:relative;
	/* background:url("images/gaming.jfif") ;
  background: rgba(40,57,101,.9); */
  align-items: center;
  
  justify-content: center;


	
}

.parentTop{
  background:url("images/gaming.jfif") ;
  background: rgba(40,57,101,.9);
}



.child .child2 {
  width: 400px;  
  height: 400px;
  margin: auto;
  font-size: 20px;  
  text-align: center;
  padding: 25px;
  
}
img{

  width: 150px;  
  height: 150px;
  border-radius: 50%;
  padding : 200;
  margin:auto;
  margin-top: 20px;

}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
  background:url("images/gaming.jfif");;
}

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
  text-align: center;
}

.title{
  margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
  background: rgba(40,57,101,.9);
  text-align: center;

}

.image:hover {
  transform: scale(1.5);
}

#persoData{
  width: 40px;  
  height: 30px;
  float: right;
  border-radius: 0%;
}

#scores{
  width:60px;  
  height: 60px;
  float: right;
  margin-top: 5px;  
}

#sign_out{
  width:40px;  
  height: 40px;
  float: left;
}

.toprightPerso {

  right: 16px;
  border: none;

  padding: 0px 20px;
  text-decoration: none;
  cursor: pointer;

}

.toprightScores{
  position:absolute;
  top: 0px;
  right: 70px;
  font-size: 5px; 
}

.toprightHi {
  position: absolute;
  top:0px;
  right:auto;
  /* font-size: 5px; */
}

.toprightSignOut{
  position: absolute;
  top:0px;
  left:16px;
}
.BorderText{
    
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;

}
h1{
  color:#6a6f8c;
   clear:both;
   text-align: center;
}
